/** Colour pallette
blue: #6494AA;
green: #90A959;
yellow: #E9B872;
red: #A63D40;
black: #151515;

*/


body {
    margin: 0;
}

header {
    background : #f1f1f1;
    font-family: Tahoma, Geneva, sans-serif;  
	float: left;
	color: black;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 14px;
	/*line-height: 25px;*/
	border-radius: 4px;
	margin: auto;
}

form {
	background: #f1f1f1;
	font-family: Tahoma, Geneva, sans-serif;

    padding: 5px;
    margin: auto;
}

#head {
	border-bottom: solid 1px black;
    border-top: solid 1px #90A959;
}

#logo {
	display: block;
	width: 30px;
/*	padding: 4px;*/
}


#map {
  height: 80%;
  width: 100%;
  padding: 4px;
}

/*.header {

  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}*/



/*
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}*/

input[type=number] {
	font-size: 18px;
	height: 40px;
	border: 2px solid #151515;
	border-radius: 4px;
	padding: 4px;
	/*margin: 4px 0px 0px 0px;*/
}

input[type=submit] {
	font-size: 18px;
	border-radius: 5px;
	background: #f1f1f1;
	border: 2px solid #151515;
}