<html>
    <head>
        <title>Journey</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="head">
            <header>
                <img src="{{ url_for('static', filename='logo.png') }}" id="logo">
            </header>

            <form onsubmit="return startRouting();">
                <label for="totalDistance">Total Distance (km):</label>
                <input type="number" id="totalDistance" autofocus value="2" onfocus="var temp_value=this.value; this.value=''; this.value=temp_value">
                <input type="submit" id="distanceButton" value="Submit">
                <img src="{{ url_for('static', filename='share.png') }}" id="share">
            </form>

        </div>

        <div id="map">

        </div>
        <script src="{{ url_for('static', filename='map.js') }}"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwtg5lXMqYEo4NDAxJuBZhZTGGr918Ffg&callback=initMap&libraries=places"async defer></script>

    </body>
</html>
